@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
body{
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	margin: 0px;
}

h1 {
	font-family: Playfair Display, serif;
	font-weight: regular ;
}
h2 {
	font-family: Montserrat, sans-serif;
	font-weight: regular ;
}
h3 {
	font-family: Montserrat, sans-serif;
	font-weight: lighter ;
	font-size: 15px;
}
h4 {
	color: #5F945E;
	font-family: Playfair Display, serif;
	font-weight: regular 400;
	font-size:40px;
}
a {
	text-decoration: none;
}